<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".helper.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTest"
        tools:targetApi="31">
        <activity
            android:name=".observer.ObserverActivity"
            android:exported="false" />
        <activity
            android:name=".di.hilt.HiltActivity"
            android:exported="false" />
        <activity
            android:name=".api.NetworkSSActivity"
            android:exported="false" />
        <activity
            android:name=".api.NetworkActivity"
            android:exported="false" />
        <activity
            android:name=".database.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".database.DataBaseSSActivity"
            android:exported="false" />
        <activity
            android:name=".database.DatabaseActivity"
            android:exported="false" />
        <activity
            android:name=".sharepreference.SharePreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".resources.ResourcesActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.GridViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.TabActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.TabViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.DrawerActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.FragmentsDemoActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.SheetsActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.SSImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.DialogActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.BasicViewActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.UserInterfaceActivity"
            android:exported="false" />
        <activity
            android:name=".taskandbackstack.EightActivity"
            android:exported="false"
            android:taskAffinity="@string/affinity_caculation" />
        <activity
            android:name=".taskandbackstack.SevenActivity"
            android:exported="false"
            android:taskAffinity="@string/affinity_caculation" />
        <activity
            android:name=".taskandbackstack.SixActivity"
            android:exported="false"
            android:taskAffinity="@string/affinity_caculation" />
        <activity
            android:name=".taskandbackstack.FiveActivity"
            android:exported="false" />
        <activity
            android:name=".taskandbackstack.FourActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".taskandbackstack.ThreeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".taskandbackstack.TwoActivity"
            android:exported="false" />
        <activity
            android:name=".taskandbackstack.OneActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".taskandbackstack.TaskAndBackStackActivity"
            android:exported="false" />
        <activity
            android:name=".intent.IntentActivity"
            android:exported="false" />
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:exported="false" />
        <activity
            android:name=".broadcast.BroadcastActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".broadcast.BroadcastActivity$AirplaneModeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>